html 
{
    height: 100%;
    width: 100%;
}
/***Home Page***/
h3{
  border-bottom: 2px solid #b380cc;
  margin-bottom: 26px;
}
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
header{
  min-height: 5vh;
}
main{
min-height: 85vh;

}
footer{
  min-height: 10vh;
}

.fondoheaderyfooter{
  background-color: rgb(102, 255, 255,0.25)
}